.my-app-custom-plain-container-with-desc {
  align-items: center;

}
.my-app-custom-plain-container-with-desc figure {
  margin: 0px 0px 20px 0px;;
  position: relative;
}
.my-app-custom-plain-container-with-desc figure img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
.my-app-custom-plain-container-with-desc figure figcaption {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 85%;
  padding: 5px;
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
}
.my-app-custom-plain-container-with-desc .description {
  font-weight: bold;
  text-align: center;
}
.my-app-custom-plain-container-with-desc .my-app-custom-image-with-desc {
  height: auto;
  margin-right: 2px;
 
  align-self: start;
}
